In [72]:
from pathlib import Path
Path.cwd()

WindowsPath('C:/Users/krist/Desktop/homework/python-homework/PyBank')

In [73]:
import pandas as pd
from pathlib import Path

In [74]:
csvpath = Path("budget_data.csv")

In [75]:
budget = pd.read_csv(csvpath)
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [76]:

budget["Change"] = budget["Profit/Losses"].diff(periods=1)



#Financial Analysis

#Total Months: 86
date_count = budget['Date'].count()


#Total: $38382578
total = budget['Profit/Losses'].sum()

#Average  Change: $-2315.12
average = budget['Change'].mean()

#Greatest Increase in Profits: Feb-2012 ($1926159)
Max = budget['Change'].max()
date = "date"
#print("Greatest Increase in Profits:", " $",Max)
#print("Greatest Increase in Profits:", "$", Max)
#print(f"Greatest Increase in Profits: {date_max} ${Max}" )

#Greatest Decrease in Profits: Sep-2013 ($-2196167)
Min = budget['Change'].min()

print(type("Max"))
budget.head()

<class 'str'>

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [77]:
budget_sorted_max = budget.sort_values("Change",ascending = False)
print(Max)

1926159.0

In [78]:
budget_sorted_max.head()

        Date  Profit/Losses     Change
25  Feb-2012        1170593  1926159.0
47  Dec-2013        1150461  1838447.0
79  Aug-2016         569899  1733696.0
32  Sep-2012         475062  1497596.0
45  Oct-2013         268997  1465222.0

In [79]:
budget_sorted_min = budget.sort_values("Change",ascending = True)
budget_sorted_min.head()

        Date  Profit/Losses     Change
44  Sep-2013       -1196225 -2196167.0
78  Jul-2016       -1163797 -1876758.0
73  Feb-2016       -1100387 -1750387.0
31  Aug-2012       -1022534 -1529236.0
63  Apr-2015        -524626 -1212159.0

In [80]:
date_max = budget_sorted_max.iloc[0,0]
print(date_max)

Feb-2012

In [81]:
date_min = budget_sorted_min.iloc[0,0]
print(date_min)

Sep-2013

In [82]:
print("Financial Analysis")
print("----------------------------")
print("Total Months:",date_count)
print(f"Total: ${total}")
print(f"Average Change: ${average}")
print(f"Total: ${total}")
print(f"Greatest Increase in Profits: {date_max} ${Max}")
print(f"Greatest Decrease in Profits: {date_min} (${Min})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Total: $38382578
Greatest Increase in Profits: Feb-2012 $1926159.0
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [85]:
# Set the output file path
output_path = Path("homework2_output.txt")

# Open the output_path as a file object in "write" mode ('w')
# Write a header line and write the contents of 'text' to the file
with open(output_path, 'w') as file:
    file.write(
        "Financial Analysis\n"
        "----------------------------\n"
        "Total Months: 86\n"
        "Total: $38382578\n"
        "Average Change: $-2315.1176470588234\n"
        "Greatest Increase in Profits: Feb-2012 $1926159.0\n"
        "Greatest Decrease in Profits: Sep-2013 ($-2196167.0)")